* { margin:0; padding:0; box-sizing:border-box; font-family:'Poppins',sans-serif; }

body {
  background: url(bck.jpg); width: 100%; color:#fff;
  background-position: center;
  background-size: cover;
  display:flex; flex-direction:column; min-height:100vh;
}

header {
  background:#2c2c2c;
  display:flex; justify-content:space-between; align-items:center;
  padding:20px 50px; border-bottom:2px solid #b58953;
}

.name { font-size:1.8em; }

nav ul { list-style:none; display:flex; gap:20px; }
nav a { text-decoration:none; color:white; font-weight:500; }
nav a:hover, nav a.active { color:#b58953; }

.menu-icon { display:none; font-size:28px; cursor:pointer; color:#b58953; }

@media(max-width:768px){
  nav ul{display:none; flex-direction:column; background:#2c2c2c;
         position:absolute; top:70px; right:0; width:200px; padding:20px;}
  nav ul.show{display:flex;}
  .menu-icon{display:block;}
}

.hero{text-align:center;padding:100px 20px;}
.hero h1{color:#c66f05;font-size:3em;margin-bottom:20px;}
.hero p{max-width:700px;margin:auto;line-height:1.7;}
.btn{background:#c66f05;color:#fff;padding:12px 25px;border-radius:5px;
     text-decoration:none;display:inline-block;margin-top:20px;}
.btn:hover{background:#8d6b41;}

.content{padding:60px;text-align:center;}
.content h1{color:#c66f05;margin-bottom:20px;}
.content form{max-width:400px;margin:auto;display:flex;flex-direction:column;gap:10px;}
.content input,.content textarea{padding:10px;border: #2c2c2c;border-radius:4px;}
.menu-list{
  border: #2c2c2c;
  transform:scale(1.05);
  display:flex;flex-wrap:wrap;gap:20px;justify-content:center;
  list-style:none;line-height:2;font-size:1.1em;
}

.gallery .images{display:flex;flex-wrap:wrap;gap:20px;justify-content:center;width: 100%;}
.gallery img{width:300px;height:200px;object-fit:cover;border-radius:10px;cursor:pointer;transition:.3s;}
.gallery img:hover{transform:scale(1.05);}

#lightbox{position:fixed;top:0;left:0;width:100%;height:100%;
  background:rgba(0,0,0,.8);display:none;justify-content:center;align-items:center;}
#lightbox img{max-width:90%;max-height:80%;border:3px solid #c66f05;border-radius:10px;}


.about-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.about-btn {
  background: #b58953;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
}

.about-btn:hover {
  background: #8d6b41;
  transform: scale(1.05);
}

.college{
  background-color: #2c2c2c;
  border: 10px ridge #c66f05;
  color: white;
  border-radius: 5%;
}
 .college:hover{
  transition: ease-in-out;
  animation: forwards;
 }